* {
  padding: 0px;
  margin: 0px;
}

.dark {
    background-color: #1f2937;
    margin: 0%;
}

.text {
    margin-left: 15%;
    margin-right: 15%;
    font-family: "Roboto";
}


/****** NAVIGATION BAR ******/
.nav-bar {
  padding-top: 25px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-bar .secondary-text {
    flex: 1;
}

.header-text {
  font-size: 24px;
  color: #f9faf8;
  font-weight: bold;
}

.nav-bar .links {
    flex: 1;

    /* flex container */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.links .link-item {
  margin: 15px;
}

/**** HERO SECTION ****/

.secondary-text {
  font-weight: normal;
  font-size: 18px;
  color: #e5e7eb;
}

.hero-main {
  margin-top: 0%;
  margin-bottom: 0%;
  padding-top: 100px;
  padding-bottom: 150px;

  /* flex container */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.text .secondary-text, .text h1 {
  margin-bottom: 15px;
}

.hero-main .text {
  flex: auto;
}

.hero-main .image img {
  max-width: 100%;
  height: auto;

  /* Maintain aspect ratio */
  flex: auto;
  /* Allow images to grow and shrink */
  object-fit: cover;

  /* Rounded corners */
  border-radius: 25px;
}

.hero-main .hero-main-text {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}

.button {
  padding: 5px 25px 5px 25px;
  border-radius: 10px; /* rounded corners */
  border: 0px;

  /* text for button */
  font-weight: normal;
  font-size: 18px;
  color: #e5e7eb;
}

.button.button-filled {
  background-color: #3882f6;
  color: #e5e7eb;
}

/** MIDDLE AREA **/

.light h2 {
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
  text-align: center;
  margin-top: 72px;
  margin-bottom: 72px;
}

/* flex container for boxes on page */
.light .list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 50px;

  margin-bottom: 100px;
}

.list .list-item {
  flex: none;
}

/* Constructs box for each image item on the webpage */
.list .image-item {
  border: 5px solid #3882f6;
  border-radius: 15px;
  height: 150px;
  width: 150px;
  background-color: white;
  color: white;
  margin-bottom: 20px;
}

.caption {
  /* IMPORTANT: Make sure .inline-size and height and width of box are same size! */
  inline-size: 150px;
  overflow-wrap: break-word;
  text-align: center;
  color: #555f6b;
}

/*** QUOTE ***/

.quote-box {
  background-color: #e5e7eb;
}

.quote-box .quote {
  margin-left: 30%;
  margin-right: 30%;
  padding-top: 110px;
  padding-bottom: 110px;
}

.quote-box .author {
  text-align: right;
}

.quote-box .original-text {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
}

.quote-box .author {
  font-size: 18px;
  font-weight: 500;
}

/*** ACTION BOX ***/

.action-box {
  padding-top: 80px;
  padding-bottom: 80px;
}





/*** FOOTER ***/
.footer {
  background: 
}

.footer .text {
  color: #f9faf8;
  text-align: center;
  font-size: 18px;

  padding-top: 50px;
  padding-bottom: 50px;
}