* {
  padding: 0px;
  margin: 0px;
}

.dark {
    background-color: #1f2937;
    margin: 0%;
}

.text {
    margin-left: 15%;
    margin-right: 15%;
    font-family: "Roboto";
}


/****** NAVIGATION BAR ******/
.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-bar .secondary-text {
    flex: 1;
}

.header-text {
  font-size: 24px;
  color: #f9faf8;
  font-weight: bold;
}

.nav-bar .links {
    flex: 1;

    /* flex container */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.links .link-item {
  margin: 15px;
}

/**** HERO SECTION ****/

.secondary-text {
  font-weight: normal;
  font-size: 18px;
  color: #e5e7eb;
}

.hero-main {
  margin-top: 0%;
  margin-bottom: 0%;
  padding-top: 75px;
}

.hero-main .hero-main-text {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}

.button {
  padding: 5px 25px 5px 25px;
  border-radius: 10px;
  border: 0px;
}

.button.button-filled {
  background-color: #3882f6;
  color: #e5e7eb;
}

.hero-main.text {
  padding-bottom: 100px;
}

/* Roboto font */
.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}
