.top {
    background-color: #1f2937;
}

.text {
    margin-left: 15%;
    margin-right: 15%;
    font-family: "Roboto", "sans-serif"
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-bar .header-text {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;

    flex: auto;
}

.nav-bar .secondary-text {
    /* flex */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    flex: auto;
}

.intro h1 {
    font-size: 48px;
    font-weight: 500;
    color: #f9faf8;
}

.secondary-text {
    font-weight: normal;
    font-size: 18px;
    color: #e5e7eb;
}

.top {
    /*
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    */
}

/* Roboto font */
.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  